<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VATServer.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VATDBConn" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=VATSample_DB; Integrated Security=true;connect Timeout=600"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="DatabasePath" value="c:\\projects\data\spider.mdb" />
    <add key="SupportEmail" value="webmaster-1@dotnetspider.com" />-->
    <add key="VATDB" value="Data Source=localhost;Initial Catalog=VATSample_DB; Integrated Security=true;connect Timeout=600"/>
  </appSettings>
  <system.serviceModel>
    <bindings /> 
    <client />
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <applicationSettings>
    <VATServer.Library.Properties.Settings>
      <setting name="VATServer_Library_NBRWebService_SI_RET_SENDERService"
        serializeAs="String">
        <value>http://ivaspxapp1:55000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_SOAP_BIDA_TO_IVAS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_RET_SENDER&amp;interfaceNamespace=http%3A%2F%2Fnbr.gov.bd%2Fregist91</value>
      </setting>
    </VATServer.Library.Properties.Settings>
  </applicationSettings>
</configuration>
