<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISaleWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IBranchProfileWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICommonWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IVehicleWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IProductWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IReportWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IUOMWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IBOMWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IImportWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICustomerWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IUserInformationWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ITrackingWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IReceiveWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ISetupWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IShiftWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICompanyprofileWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ITenderWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICurrencyConversionWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IPurchaseWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ITDSsWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICommonImportWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IAdjustmentWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IAdjustmentHistoryWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IBanderolProductsWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IBanderolsWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IBankInformationWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IBranchWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IBureauSaleWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICodeWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IVendorGroupWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IVendorWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICompanyInformationWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICurrenciesWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICustomerGroupWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IDemandWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IDepositTDSWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IVDSWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IUserBranchDetailWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IDepositWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IDisposeWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IDutyDrawBackWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IUOMNameWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ITransferReceiveWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IIssueBOMWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IHSCodeWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IFiscalYearWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ITransferIssueWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IToll6_3InvoiceWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ISettingRoleWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ISettingWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ISDDepositWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ISalesInvoiceExpWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IPackagingWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IPrefixWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IProductCategoryWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IIssueWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ISaleExportWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_ICustomerDiscountWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="BasicHttpBinding_IUserMenuAllRollWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
          <binding name="BasicHttpBinding_IUserMenuRollsWCF" allowCookies="true"
          maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/SaleWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISaleWCF"
        contract="SaleWCF.ISaleWCF" name="BasicHttpBinding_ISaleWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/BranchProfileWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBranchProfileWCF"
        contract="BranchProfileWCF.IBranchProfileWCF" name="BasicHttpBinding_IBranchProfileWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/CommonWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonWCF"
        contract="CommonWCF.ICommonWCF" name="BasicHttpBinding_ICommonWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/VehicleWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVehicleWCF"
        contract="VehicleWCF.IVehicleWCF" name="BasicHttpBinding_IVehicleWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/ProductWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductWCF"
        contract="ProductWCF.IProductWCF" name="BasicHttpBinding_IProductWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/ReportWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportWCF"
        contract="ReportWCF.IReportWCF" name="BasicHttpBinding_IReportWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/UOMWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUOMWCF"
        contract="UOMWCF.IUOMWCF" name="BasicHttpBinding_IUOMWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/BOMWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBOMWCF"
        contract="BOMWCF.IBOMWCF" name="BasicHttpBinding_IBOMWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/ImportWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImportWCF"
        contract="ImportWCF.IImportWCF" name="BasicHttpBinding_IImportWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/CustomerWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerWCF"
        contract="CustomerWCF.ICustomerWCF" name="BasicHttpBinding_ICustomerWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/UserInformationWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserInformationWCF"
        contract="UserInformationWCF.IUserInformationWCF" name="BasicHttpBinding_IUserInformationWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/TrackingWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrackingWCF"
        contract="TrackingWCF.ITrackingWCF" name="BasicHttpBinding_ITrackingWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/ReceiveWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiveWCF"
        contract="ReceiveWCF.IReceiveWCF" name="BasicHttpBinding_IReceiveWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/SetupWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISetupWCF"
        contract="SetupWCF.ISetupWCF" name="BasicHttpBinding_ISetupWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/ShiftWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShiftWCF"
        contract="ShiftWCF.IShiftWCF" name="BasicHttpBinding_IShiftWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/CompanyprofileWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompanyprofileWCF"
        contract="CompanyprofileWCF.ICompanyprofileWCF" name="BasicHttpBinding_ICompanyprofileWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/TenderWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITenderWCF"
        contract="TenderWCF.ITenderWCF" name="BasicHttpBinding_ITenderWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/CurrencyConversionWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrencyConversionWCF"
        contract="CurrencyConversionWCF.ICurrencyConversionWCF" name="BasicHttpBinding_ICurrencyConversionWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/PurchaseWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPurchaseWCF"
        contract="PurchaseWCF.IPurchaseWCF" name="BasicHttpBinding_IPurchaseWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/CommonImportWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonImportWCF"
        contract="CommonImportWCF.ICommonImportWCF" name="BasicHttpBinding_ICommonImportWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/TDSsWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITDSsWCF"
        contract="TDSsWCF.ITDSsWCF" name="BasicHttpBinding_ITDSsWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/AdjustmentWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdjustmentWCF"
        contract="AdjustmentWCF.IAdjustmentWCF" name="BasicHttpBinding_IAdjustmentWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/AdjustmentHistoryWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdjustmentHistoryWCF"
        contract="AdjustmentHistoryWCF.IAdjustmentHistoryWCF" name="BasicHttpBinding_IAdjustmentHistoryWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/BanderolProductsWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBanderolProductsWCF"
        contract="BanderolProductsWCF.IBanderolProductsWCF" name="BasicHttpBinding_IBanderolProductsWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/BanderolsWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBanderolsWCF"
        contract="BanderolsWCF.IBanderolsWCF" name="BasicHttpBinding_IBanderolsWCF" />
      <endpoint address="http://vatsoft.squaregroup.com:9090/WCF/BankInformationWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankInformationWCF"
        contract="BankInformationWCF.IBankInformationWCF" name="BasicHttpBinding_IBankInformationWCF" />
      <endpoint address="http://localhost:50568/WCF/BranchWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBranchWCF"
        contract="BranchWCF.IBranchWCF" name="BasicHttpBinding_IBranchWCF" />
      <endpoint address="http://localhost:50568/WCF/BureauSaleWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBureauSaleWCF"
        contract="BureauSaleWCF.IBureauSaleWCF" name="BasicHttpBinding_IBureauSaleWCF" />
      <endpoint address="http://localhost:50568/WCF/CodeWCF.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICodeWCF" contract="CodeWCF.ICodeWCF"
        name="BasicHttpBinding_ICodeWCF" />
      <endpoint address="http://localhost:50568/WCF/VendorGroupWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVendorGroupWCF"
        contract="VendorGroupWCF.IVendorGroupWCF" name="BasicHttpBinding_IVendorGroupWCF" />
      <endpoint address="http://localhost:50568/WCF/VendorWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVendorWCF"
        contract="VendorWCF.IVendorWCF" name="BasicHttpBinding_IVendorWCF" />
      <endpoint address="http://localhost:50568/WCF/CompanyInformationWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompanyInformationWCF"
        contract="CompanyInformationWCF.ICompanyInformationWCF" name="BasicHttpBinding_ICompanyInformationWCF" />
      <endpoint address="http://localhost:50568/WCF/CurrenciesWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICurrenciesWCF"
        contract="CurrenciesWCF.ICurrenciesWCF" name="BasicHttpBinding_ICurrenciesWCF" />
      <endpoint address="http://localhost:50568/WCF/CustomerGroupWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerGroupWCF"
        contract="CustomerGroupWCF.ICustomerGroupWCF" name="BasicHttpBinding_ICustomerGroupWCF" />
      <endpoint address="http://localhost:50568/WCF/DemandWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDemandWCF"
        contract="DemandWCF.IDemandWCF" name="BasicHttpBinding_IDemandWCF" />
      <endpoint address="http://localhost:50568/WCF/DepositTDSWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepositTDSWCF"
        contract="DepositTDSWCF.IDepositTDSWCF" name="BasicHttpBinding_IDepositTDSWCF" />
      <endpoint address="http://localhost:50568/WCF/VDSWCF.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IVDSWCF" contract="VDSWCF.IVDSWCF"
        name="BasicHttpBinding_IVDSWCF" />
      <endpoint address="http://localhost:50568/WCF/DepositWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDepositWCF"
        contract="DepositWCF.IDepositWCF" name="BasicHttpBinding_IDepositWCF" />
      <endpoint address="http://localhost:50568/WCF/DisposeWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDisposeWCF"
        contract="DisposeWCF.IDisposeWCF" name="BasicHttpBinding_IDisposeWCF" />
      <endpoint address="http://localhost:50568/WCF/UserBranchDetailWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserBranchDetailWCF"
        contract="UserBranchDetailWCF.IUserBranchDetailWCF" name="BasicHttpBinding_IUserBranchDetailWCF" />
      <endpoint address="http://localhost:50568/WCF/DutyDrawBackWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDutyDrawBackWCF"
        contract="DutyDrawBackWCF.IDutyDrawBackWCF" name="BasicHttpBinding_IDutyDrawBackWCF" />
      <endpoint address="http://localhost:50568/WCF/UOMNameWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUOMNameWCF"
        contract="UOMNameWCF.IUOMNameWCF" name="BasicHttpBinding_IUOMNameWCF" />
      <endpoint address="http://localhost:50568/WCF/TransferReceiveWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransferReceiveWCF"
        contract="TransferReceiveWCF.ITransferReceiveWCF" name="BasicHttpBinding_ITransferReceiveWCF" />
      <endpoint address="http://localhost:50568/WCF/FiscalYearWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFiscalYearWCF"
        contract="FiscalYearWCF.IFiscalYearWCF" name="BasicHttpBinding_IFiscalYearWCF" />
      <endpoint address="http://localhost:50568/WCF/HSCodeWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHSCodeWCF"
        contract="HSCodeWCF.IHSCodeWCF" name="BasicHttpBinding_IHSCodeWCF" />
      <endpoint address="http://localhost:50568/WCF/IssueBOMWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIssueBOMWCF"
        contract="IssueBOMWCF.IIssueBOMWCF" name="BasicHttpBinding_IIssueBOMWCF" />
      <endpoint address="http://localhost:50568/WCF/TransferIssueWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransferIssueWCF"
        contract="TransferIssueWCF.ITransferIssueWCF" name="BasicHttpBinding_ITransferIssueWCF" />
      <endpoint address="http://localhost:50568/WCF/Toll6_3InvoiceWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IToll6_3InvoiceWCF"
        contract="Toll6_3InvoiceWCF.IToll6_3InvoiceWCF" name="BasicHttpBinding_IToll6_3InvoiceWCF" />
      <endpoint address="http://localhost:50568/WCF/SettingRoleWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISettingRoleWCF"
        contract="SettingRoleWCF.ISettingRoleWCF" name="BasicHttpBinding_ISettingRoleWCF" />
      <endpoint address="http://localhost:50568/WCF/SettingWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISettingWCF"
        contract="SettingWCF.ISettingWCF" name="BasicHttpBinding_ISettingWCF" />
      <endpoint address="http://localhost:50568/WCF/PackagingWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackagingWCF"
        contract="PackagingWCF.IPackagingWCF" name="BasicHttpBinding_IPackagingWCF" />
      <endpoint address="http://localhost:50568/WCF/PrefixWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrefixWCF"
        contract="PrefixWCF.IPrefixWCF" name="BasicHttpBinding_IPrefixWCF" />
      <endpoint address="http://localhost:50568/WCF/ProductCategoryWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductCategoryWCF"
        contract="ProductCategoryWCF.IProductCategoryWCF" name="BasicHttpBinding_IProductCategoryWCF" />
      <endpoint address="http://localhost:50568/WCF/SDDepositWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISDDepositWCF"
        contract="SDDepositWCF.ISDDepositWCF" name="BasicHttpBinding_ISDDepositWCF" />
      <endpoint address="http://localhost:50568/WCF/SalesInvoiceExpWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalesInvoiceExpWCF"
        contract="SalesInvoiceExpWCF.ISalesInvoiceExpWCF" name="BasicHttpBinding_ISalesInvoiceExpWCF" />
      <endpoint address="http://localhost:50568/WCF/IssueWCF.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IIssueWCF" contract="IssueWCF.IIssueWCF"
        name="BasicHttpBinding_IIssueWCF" />
      <endpoint address="http://localhost:50568/WCF/SaleExportWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISaleExportWCF"
        contract="SaleExportWCF.ISaleExportWCF" name="BasicHttpBinding_ISaleExportWCF" />
      <endpoint address="http://localhost:50568/WCF/CustomerDiscountWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerDiscountWCF"
        contract="CustomerDiscountWCF.ICustomerDiscountWCF" name="BasicHttpBinding_ICustomerDiscountWCF" />
      <endpoint address="http://localhost:50568/WCF/UserMenuAllRollWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserMenuAllRollWCF"
        contract="UserMenuAllRollWCF.IUserMenuAllRollWCF" name="BasicHttpBinding_IUserMenuAllRollWCF" />
      <endpoint address="http://localhost:50568/WCF/UserMenuRollsWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserMenuRollsWCF"
        contract="UserMenuRollsWCF.IUserMenuRollsWCF" name="BasicHttpBinding_IUserMenuRollsWCF" />
    </client>
  </system.serviceModel>
</configuration>